.App {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: lightcyan;
}

.AppHeader {
  align-items: center;
  justify-content: center;
  background-color: lightcoral;
  display: flex;
  gap: 5rem;
  padding: 2rem;
}

.AppBody {
  padding: 2rem;
  text-align: center;
}